<!DOCTYPE html>

<html lang="en">

  <%- include('head.ejs'); %>

  <body id="mijnprofiel">
    <img src="/static/images/logo-datingssite.png" class="logo" alt="Matchie logo">

    <header>
      <nav>
        <a href="/tekst/<%= id %>" class="backButton"><img src="/static/images/nav_pijltje.png" class="pijltjeTerug" alt="navigatie naar vorige pagina"></a>
        <h1 class="stappen">Mijn profiel</h1>
      </nav>
    </header>

    <div class="mijnProfielNaarLinks">
      <div class="profielBackground">
        <h2><%= firstName %>, <span><%= dateOfBirth %></span></h2>
        <img src="/static/images/location_icon.png" alt="locatie icoon">

        <p><%= province %></p>
        <img src="/<%= profilePic.path %>" id="profielfoto" alt="mijn profiel foto">

        <div class="location"></div>

        <p>'<%= textProfile %>'</p>
        <a href="/bewerken/<%= _id %>" id="editButton"><img src="/static/images/edit.png" alt="edit button"></a> // MongoDB id

        <button name="button">Door naar de singles!</button>
      </div>
    </div>
    <script src="/static/javascript/matchie.js"type="text/javascript"></script>
  </body>
</html>
